[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
adafruit-circuitpython-lis3dh = "*"
adafruit-circuitpython-tsl2561 = "*"

[requires]
python_version = "3.7"
